<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Caching-demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>FileService.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>FileServiceMac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>GeoService.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>GeoServiceMac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>PubSubChat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>PubSubChatMac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>PushNotify.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>PushNotifyMac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>ToDoData.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>ToDoDataMac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>UIElementsSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>UserService.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>UserServiceMac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>UserSocial.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>UserSocialMac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>VideoService.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>910117E0180D22D9008102A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91011800180D22D9008102A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9101183A180D33D3008102A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91011856180D33D4008102A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91628E5C17FADBDB00ACC36F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91628E9617FC147800ACC36F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91628EBE17FC38D300ACC36F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91628EE517FC557400ACC36F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91628F3217FD9A5200ACC36F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91628F5917FDA79E00ACC36F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>917650CD1827CA5D00745497</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>917650E91827CA5E00745497</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91ACD4E9170D8DB5000A36E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91E1E97F170596DC00728AA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91F1390817C4E37800D1AC4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91FAC18B17045C94000B50C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F91B665C16B18CD400668A06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F91B668016B18D2600668A06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F91B66A416B18D8F00668A06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F91B66C816B18DAB00668A06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F91B66EC16B18DD800668A06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F91B671016B18DF400668A06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F91B673416B18E0A00668A06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F91B675816B18EE000668A06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F93B7952175CB9DA00803BBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
